body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

h1, h2 {
  color: #333;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.2em;
}

p {
  color: #333;
  margin-bottom: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  margin-bottom: 40px;
}

section h2 {
  padding-bottom: 5px;
}

ul {
  color: #333;
  list-style-type: disc;
  margin-left: 20px;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

header a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

header a.cv {
  color: #333;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
  transition: all 0.3s ease;
}

header a.cv:hover {
  color: #fff;
  background-color: #333;
}

@media (max-width: 768px) {
  header {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  img {
    width: 150px;
  }
}

.book-comment {
    font-size: 0.8em;
}


